fastapi~=0.98.0
pydantic~=1.10.9
starlette~=0.28.0
python-jose
passlib~=1.7.4
bcrypt~=4.0.1
python-dotenv~=1.0.0
uvicorn~=0.22.0
python-multipart
jose~=1.0.0
telebot~=0.0.5
influxdb-client
paho-mqtt~=1.6.1
telegram-menu
requests~=2.31.0
pandas~=2.1.0
prophet~=1.1.4
numpy~=1.26.0
scikit-survival